* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  
}

.swiper {
  width: 100%;
  overflow: hidden;
    touch-action: pan-y !important;
}
.swiper-wrapper {

  pointer-events: none;

}
.swiper-slide {
  display: flex;
  justify-content: center;
    pointer-events: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #c9a86a;
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}